# python
__pycache__/
*.py[cod]
*$py.class
*.out

# tooling
.vscode
.ccls-cache

# CMake
/cmake-build-*
bin/*
CMakeFiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# c artifacts
*.o
*.d

# perf files
perf.data*
perf.hist*
perf.data.old

# trash data files
data/enumerations*
data/output*
